* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    display: flex;
}

main {
    background-color: rgb(235, 245, 253);
    width: 70%;
    margin: 0 auto;
    display: block;
}
fieldset{
    border: 2px solid whitesmoke;
    padding: 10px;
    margin-bottom: 1rem;
    background-color:aquamarine;

}
label{
    padding: 0 10px;
    display: inline-block;
}
.pinformation{
    display: block;
    
}
