* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    background-color: grey;
    width: 70%;
    margin: 0 auto;
    display: block;
}
fieldset{
    border: 2px solid whitesmoke;
    padding: 10px;
    margin-bottom: 20px;
    background-color:aquamarine;

}
label{
    padding: 0 10px;
    display: block;
}
#sprinkles{
    display: inline-block;
    gap: 10px;
}
