<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream Order Form</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <main>
      <!-- Form -->
      <form id="ice-cream-form" action="#" method="get">
        <h1>Ice Cream Order Form</h1>
        <img
          src="imgs/ice-cream.jpg"
          id="ice-cream-image"
          alt="2 large scoops, on a waffle cone, one pistachio, the other vanilla"
        />
        <!-- Personal Info -->
        <fieldset>
          <legend class="pinformation">Personal Information</legend>
          <label for="name"> Name:</label>
          <input type="text" id="name" name="name" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </fieldset>

        <!-- Order Details -->
        <fieldset>
          <legend>Order Details</legend>
          <select id="flavor" name="flavor">
            <option value="" disabled selected>Select Ice Cream Flavor</option>
            <option value="vanilla">Vanilla</option>
            <option value="chocolate">Chocolate</option>
            <option value="strawberry">Strawberry</option>
            <option value="mint">Mint Chocolate Chip</option>
            <option value="cookie-dough">Cookie Dough</option>
          </select>

          <br />
          <label>Choose your cone:</label>
          <br />
          <label for="waffle-cone">
            <input
              type="radio"
              id="waffle-cone"
              name="cone"
              value="waffle-cone"
            />Waffle Cone</label
          >
          <label for="sugar-cone">
            <input
              type="radio"
              id="sugar-cone"
              name="cone"
              value="sugar-cone"
            />Sugar Cone</label
          >
          <label for="cup">
            <input type="radio" id="cup" name="cone" value="cup" /> Cup</label
          >

          <!-- Toppings -->
          <br />
          <label>Toppings:</label>
          <br />
          <label for="sprinkles">
            <input type="checkbox" id="sprinkles" name="sprinkles" />
            Sprinkles</label
          >
          <label for="nuts">
            <input type="checkbox" id="nuts" name="nuts" /> Nuts</label
          >
          <label for="cherry">
            <input type="checkbox" id="cherry" name="cherry" /> Cherry</label
          >
          <label for="whipped">
            <input type="checkbox" id="whipped" name="whipped" /> Whipped
            Cream</label
          >
        </fieldset>

        <label for="comments">Additional Comments:</label>
        <textarea id="comments" name="comments"></textarea>

        <button type="submit" id="order-button">Submit Order</button>
      </form>
    </main>
  </body>
</html>
